<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <form action="\prove01" method="POST">
        <div class="form-control">
            <label for="title">Slap Two Inputs IN</label>
            <input type="text" name="input1" id="input1">
            <input type="text" name="input2" id="input2">
        </div>
        <button type="submit" style="color:black; margin-top:1em;">Add Product</button>
    </form>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>